<% if @booking.plant.user != current_user %>
  <h2 class="titre-section text-center">Pending booking...</h2>
  <p>You have just booked the <strong><%= @plant.name %></strong> plant, from <strong><%= @booking.start_date.strftime('%d-%m-%Y') %></strong> to <strong><%= @booking.end_date.strftime('%d-%m-%Y') %></strong>.</p>
  <% @plant.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
  <% end %>

  <% if @booking.status == "Waiting" %>
    <p>Please wait for the owner's confirmation.</p>
  <% else %>
    <p>The booking status is: <%= @booking.status %></p>
  <% end %>

  <p><U>Booking details</U>:</p>
  <p>Total price: <%= @booking.set_total_price %>€</p>
  <p>Plant location: <%= @plant.address %> </p>

  <% if @booking.plant.user == current_user %>
    <%= simple_form_for @booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'Accepted' } %>
      <%= f.submit "Accept" %>
    <% end %>
      <%= simple_form_for @booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'Declined' } %>
      <%= f.submit "Decline" %>
    <% end %>
  <% else %>
  <% end %>

<% else %>
  <h2 class="titre-section text-center">Pending booking...</h2>
  <p>You have a pending booking for the <strong><%= @plant.name %></strong> plant, from <strong><%= @booking.start_date.strftime('%d-%m-%Y') %></strong> to <strong><%= @booking.end_date.strftime('%d-%m-%Y') %></strong>.</p>
  <% @plant.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
  <% end %>

  <% if @booking.status == "Waiting" %>
    <p>Waiting for your confirmation, please accept or decline the booking.</p>
    <% if @booking.plant.user == current_user %>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'Accepted' } %>
        <%= f.submit "Accept" %>
      <% end %>
        <%= simple_form_for @booking do |f| %>
        <%= f.input :status, as: :hidden, input_html: { value: 'Declined' } %>
        <%= f.submit "Decline" %>
      <% end %>
    <% end %>
  <% else %>
    <p>The booking status is: <%= @booking.status %></p>
  <% end %>

  <p><U>Booking details</U>:</p>
  <p>Total price: <%= @booking.set_total_price %>€</p>
  <p>Plant location: <%= @plant.address %> </p>

<% end %>

<%# Afficher le statut du booking et le mettre à jour
Affichage différent pour le owner %>
