

  <div class="row">
    <div class="container py-5 col-4">

      <h2 class="titre-section text-center"><%= @plant.name.capitalize %></h2>
      <strong><p><%= @plant.description %></p><strong>
      <strong><p><%= @plant.price %>€ / jour</p><strong>
      <% @plant.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>


      <p><%= link_to "Back to plants", plants_path %></p>

      <% if @plant.user != @current_user %>
          <p><%= link_to "Book this plant", new_plant_booking_path(@plant)%></p>
        <% else %>
          <p><%= link_to "Edit my plant", edit_plant_path(@plant) %></p>
          <p><%= link_to "Delete my plant", plant_path(@plant), method: :delete, data: { confirm: "Are you sure ?"} %></p>
      <% end %>

      <% if Booking.where(plant_id: @plant.id).count > 0 && @plant.user == current_user %>
        <p>Booked</p>
      <% end %>

    </div>
  </div>

